.card_container {
  width: auto ;
  margin: 10px;
  //display: none;
  .primary_button {
    background-color: #f76258;
    color: white;
  }
  .secondary_button {
    background-color: red;
    color: white;
  }
}